# Copyright @ 2025 - present, R3E Network
# All Rights Reserved

[workspace]
resolver = "2"

members = [
    "neo-base",
    "neo-core",
    "neo-crypto",
    "neo-consensus",
    "neo-contract",
    "neo-runtime",
    "neo-p2p",
    "neo-rpc",
    "neo-store",
    "neo-vm",
    "neo-proc-macros",
]
