# TLC Configuration File for Neo-N3 PBFT Consensus - Healthy
# n=4 nodes, f=1 Byzantine fault (satisfies n >= 3*f + 1)

CONSTANT n = 4
CONSTANT f = 1

SPECIFICATION Spec
INVARIANT Agreement
INVARIANT Validity
INVARIANT NoDoubleCommit
INVARIANT PreparedThreshold
ASSUME Healthy

### Model Checking Settings ###
MaxStates: 50000
MaxPaths: 10000
TimeLimit: 3600
